* {
    margin: 0px;
    padding: 0px;
    color: white;

}
body {
    background-image: url(bg.jpg);
    text-align: center;
    font-family: arial;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    
}
.headline {
    margin-top: 15px;
    font-size: 70px;
    
}
.place {
    margin-top: 15px;
    height: 250px;
    font-size: 3em;
}
#para {
    padding: 50px;
    font-size: 3.2em;
   
}
.buttons {
    margin-top: 70px;
}
#activate {
    background: none;
    width:  140px;
    height: 50px;
    float: left;
    margin-left: 40px;
    font-weight: 400;
    font-size: 1.2em;

}
#reset {
    background: none;
    color: white;
    width: 140px;
    height: 50px;
    float: right;
    margin-right: 40px;
    font-weight: 600;
    font-size: 1.2em;
}


.footer {
    color: grey;
    margin-top: 165px;
    text-align: center;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    font-size: 0.8em;
}

@media screen and (max-width: 764px) {
    .headline {
        font-size: 50px;
    }
    #activate {
        margin-left: 20px;
    }
    #reset {
        margin-right: 20px;
    }
    .footer{
        margin-top: 200px;
    }
}
